Analytical_Solution/data_cart/
Analytical_Solution/data_cart/*
Analytical_Solution/data/all_data.mat
Analytical_Solution/data_bad/all_data.mat
!Analytical_Solution/images/2D/*
!Analytical_Solution/images/3D/*